<% provide(:title, 'About Us') %>
<div class="jumbotron">
  <h1>Tradition</h1>
  <h2>(About Us)</h2>
   <div class="container center">
    <div class="row">
      <div class="col-md-6">
	<div class="">
	  <%= image_tag('TradTop.gif', :alt => "Tradition") %>
	</div>
      </div>
      <div class="col-md-6">
      <div class="caption">
        <!--<h3>Thumbnail label</h3>-->
        <p>Consistency builds trust and no other shoe store has served Dayton longer or better than Roderer Shoes. Our unique commitment to serving the Dayton shoe customer began over 100 years ago with a man named George Roderer...</p>
      </div>
    </div>
  </div>
    </div>
  </div>
      <!-- START THE FEATURETTES -->
<div class="container marketing">
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">My Grandfather Started It All</h2>
          <p class="lead">I am Tom Roderer, son of George J. Roderer Jr., and grandson of George J. Roderer Sr., and father of Michael Roderer, the President of Roderer shoes, Inc. These are my recollections on the history of Roderer shoes, just one branch of many stores founded by my grandfather and his brother, John B. Roderer Sr. and continued by their children, grandchildren, and great grandchildren.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag('TradPhoto3.gif', :alt => "Tradition 3") %>
      </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
         <%= image_tag('TradPhoto4.gif', :alt => "Tradition 4") %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Our Origin</h2>
          <p class="lead">George J. ROderer Sr. was born in the foothills of the Alps in the small village of Fichtelberg, Germany in the year 1872. He learned the skill of shoemaking as an apprentice to the village shoemaker. In 1892, his widowed mother brought her family of four to Dayton, Ohio, where a core of friends and neighbors from Fichtelberg had already established themselves.</p>
          <p class="lead">George initially worked as a toolmaker at the National Cash Register Company, but continued to use his shoemaking skills, repairing the shoes of his fellow workers. In 1906, he began to purchase and resell footwear from his Xenia Avenue home.</p>
          <p class="lead"></p>
          <p class="lead"></p>

        </div>
      </div>
      
            <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">His Family and His Business Grew</h2>
          <p class="lead">In 1913, the year of the great Dayton flood, he began construction of a new home and store in Xenia Avenue, just two blocks west of the original location. He sold his original home to his brother, Johh B. Sr., who, ercouraged by the steram of people arriving at his front door seeking new shoes, opened the first J.B. Roderer shoes. Their neighbors knew them as big Roderer and little Roderer.</p>
        </div>
                <div class="col-md-5">
         <%= image_tag('roderer_store_bw.jpg', :alt => "Roderer Store b&w") %>
        </div>
      </div>
            <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
         <%= image_tag('TradPhoto4.gif', :alt => "Tradition 4") %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Two Shoe Merchants - 18 Children to Keep in Shoes</h2>
          <p class="lead">Just as farmers had large families to help with farm chores, the Roderer brothers put their children to work early in their shoe stores. They both had plenty of help!</p>
                    <p class="lead">My grandfather and his wife, Rosina, raised nine-children - Anthony J. (b 1894), Margaret R. (b 1896), Rose M. (b. 1897), George J. Jr. (b 1900), Bernard J. (b 1902), Loretta A (b 1905), Victor J. (b 1909), Lawrence C. (b 1910), and Mildred M. (b 1912). All five sons followed their father's vocation; although; Bernard later left retailing to become a Chiropodist (the profession we know today as Podiatry). His brother's family was about the same size.</p>
          <p class="lead">George Sr.'s first expansion was to West Third street where he oppupied a storefront in the same building as the Wright Bros. Bicycle shop. A.J and George Jr. worked there together until 1927 when a third store was opened for George Jr. at 1941 North Main street. A fourth store was established on East Third Street and managed by Bernard until he went back to school. The two youngest sons continued to work in the Xenia Avenue stare with their father until his death in 1931. At the time, A.J. inherited the West Third street store, George Jr. The North Main street store, and Victor and Lawrence the Xenia Avenue store. Dr. Bernard established his office in what had been the family residence, connected to the Xenia Avenue store.</p>
          <p class="lead">In 1949, George Jr. built and opened a new store at 2001 N. Main Street. It was one of the first shoes stores in Ohio to specialize in chirdlen's footwear. Within the next few years, he purchased stores in Xenia, OH (Richard Shoes, Sidney, OH (Swank Shoes), Hamilton OH, (Leigheit shoes), and Cincinnati, OH (Swantz Shoes); but he continued to operate these locations under their original names.</p>
          <p class="lead">We continued to operate a chirdlen's store until 1982, when we entered the adult comfort shoe business. In 1986, we built and opened our current location at 5500 North Main Street, specializing in shoes for children and comfort shoes for adults. My son Michael, the youngest of the fourth generation, joined the family business in 1989.</p>
          <p class="lead">I have been truly blessed to work with my father and  my mother, my uncle Victor, my aunts Rose, Loretta, and Mildred. They have all been role models for me. I have been just as blessed to work with my son.</p>
          <p class="lead">We know our shoes. We like w hat we do. And we think it shows.</p>
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">About Our Logo</h2>
          <p class="lead">When George Roderer opened his store in 1906, shoes were not shipped to merchants in boxes as they are today...</p>
          <p class="lead">...Shoes were shipped in cartons, unboxed, and it was the merchants' responsibility to box them. The boxes were not sent home with consumers, but shoes were removed and bagged. The boxes were saved to be refilled as new mechandise arrived in the store.</p>
          <p class="lead">The family name surrounded by a diamond was the logo on every Roderer shoe box. We still use the logo today in our advertising and on our bags.</p>
          <p class="lead">In bygone days, the typical store was about 25 feet wide and 50 feet deep. Two rows of chairs back-to-back usually ran down the middle of the store from front to rear with a counter running from sidewall to sidewall to the rear of the chairs. Under the counter would be shoe maintenance items like shoe polish, brushes, laces, and maybe nylons. The inventory was exposed along the sidewalls in shelving from floor to ceiling. An average store would have maybe three or four thousand pairs.</p>
          <p class="lead">Today we depend on the visual differences of the various brand's boxes to help us locate merchandise. With an inventory circa 15,000 pairs, if all were in boxes that were identical, it might be hard to find the shoes we are looking for!</p>
	  <p class="lead"></p>

        </div>
        <div class="col-md-5">
          <%= image_tag('roderer_logo_large.png', :alt => "Roderer Logo") %>
        </div>
      </div>

      <hr class="featurette-divider">
</div>
      <!-- /END THE FEATURETTES -->