<% provide(:title, 'Home') %>
<!--<div class="center jumbotron">
<%= link_to image_tag('hmphotoani.gif'), brands_path, id: "quality" %>
</div>-->
<div id="carousel-home" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-home" data-slide-to="1"></li>
    <li data-target="#carousel-home" data-slide-to="2"></li>
    <li data-target="#carousel-home" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner ">
    <div class="item active">
      <%= image_tag('roderer_store_and_sign.jpg', :alt => "Roderer store and sign") %>
<!--      <img src="http://placehold.it/1140x358/d2c1a0/0f4b4c"/>-->
      <!--<div class="carousel-caption">
	...
      </div>-->
    </div>
        <div class="item">
      <%= image_tag('tom_roderer_wide.jpg', :alt => "Tom Roderer Wide") %>
<!--      <img src="http://placehold.it/1140x358/d2c1a0/0f4b4c"/>-->
      <!--<div class="carousel-caption">
	...
      </div>-->
    </div>
    <div class="item ">
      <!--<%= link_to image_tag('hmphotoani.gif'), brands_path, id: "quality" %>-->
      <%= image_tag('roderer_store_room_right.jpg', :alt => "Roderer store room right") %>
<!--      <img src="http://placehold.it/1140x358/0f4b4c/d2c1a0"/>-->
      <!--<div class="carousel-caption">
	...
      </div>-->
    </div>
        <div class="item ">
      <!--<%= link_to image_tag('hmphotoani.gif'), brands_path, id: "quality" %>-->
      <%= image_tag('roderer_store_room_left.jpg', :alt => "Roderer store room right") %>
<!--      <img src="http://placehold.it/1140x358/0f4b4c/d2c1a0"/>-->
      <!--<div class="carousel-caption">
	...
      </div>-->
    </div>
    </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-home" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-home" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<div class="content center">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="">
     <!-- <%= link_to image_tag('quality.gif'), brands_path, id: "quality" %>-->
     <h1>Quality</h1>
<!--     <h2><%= link_to "Quality", brands_path, id: "quality" %></h2>-->
      <div class="caption">
        <!--<h3>Thumbnail label</h3>-->
        <p>At Roderer Shoes, we have an extensive collection of the industry's highest quality shoes and accessories.</p>
        <p><%= link_to "Learn more &raquo;".html_safe, brands_path, id: "quality", class: "btn btn-default", role: "button"%></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="">
    <h1>Tradition</h1>
      <!--<%= link_to image_tag('tradition.gif'), about_path, id: "tradition" %>-->
      <div class="caption">
        <!--<h3>Thumbnail label</h3>-->
        <p>Consistency builds trust and no other shoe store has served Dayton longer or better than Roderer Shoes. Our unique commitment to serving the Dayton shoe customer began over 100 years ago with a man named George Roderer...</p>
        <p><%= link_to "Learn more &raquo;".html_safe, about_path, id: "tradition", class: "btn btn-default", role: "button"%></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <h1>Service</h1>
      <!--<%= link_to image_tag('service.gif'), service_path, id: "service" %>-->
      <div class="caption">
       <!-- <h3>Thumbnail label</h3>-->
        <p>At Roderer shoes, we strive to offer our customers the highest quality customer service and the shoe industry's best promotional discounts and specials. We are always looking for the best ways to be your single source for footwar in the Dayton area!</p>
        <p><%= link_to "Learn more &raquo;".html_safe, service_path, id: "service", class: "btn btn-default", role: "button"%></p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
     <h3>Hours</h3>
     <%= render 'layouts/hours' %>
  </div>
  <div class="col-sm-6 col-md-4">
    <h3>Contact Us</h3>
     <%= render 'layouts/address_phone' %>
  </div>
  <div class="col-sm-6 col-md-4">
    <h3>Subscribe</h3>
      <!--<%= link_to image_tag('service.gif'), service_path, id: "service" %>-->
      <div class="caption">
       <!-- <h3>Thumbnail label</h3>-->
        <p>Subscribe to our newsletter for updates and specials!</p>
        <p><%= link_to "Subscribe &raquo;".html_safe, contact_path, id: "subsrcibe", class: "btn btn-default", role: "button"%></p>
      </div>
  </div>
</div>
</div>