    <header class="navbar navbar-fixed-top navbar-default" role="navigation">
      <!--<div class="navbar-inner">-->
	<div class="container">
	  <!--<div class="navbar-header">-->
	  <div class="bannerLogo">
<!--	    <%= link_to "Roderer Shoes", root_path, id: "logo" %>-->
	    <%= link_to image_tag('RodererLogo.png'), root_path, id: "logo" %>

	</div>
	  <nav>
	    <ul class="nav navbar-nav pull-right">
	      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
	      <li class="<%= 'active' if current_page?(brands_path) %>"><%= link_to "Brands", brands_path %></li>
	      <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About Us", about_path %></li>
	      <li class="<%= 'active' if current_page?(service_path) %>"><%= link_to "Current Promotion", service_path %></li>
	      <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact Us", contact_path %></li>
	      <li><%= link_to "Sign in", '#' %></li>
	    </ul>
	  </nav>
<!--	</div>-->
      </div>
    </header>